.nav-container {
  width: 30vw;
  height: 100vh;

  min-width: 320px;
  min-height: 685px;

  display: flex;
  flex-direction: column;
}

.navigator {
  height: 60vh;
  width: 100%;

  min-width: 278px;
  min-height: 486px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  background-color: rgba(4, 95, 12, 0.767);
}

.profile-info {
  width: 100%;
  height: 40vh;

  min-width: 278px;
  min-height: 246px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-avatar {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  overflow: hidden;
}

.profile-info img {
  width: 350px;
  height: 250px;

  margin: -16px 0px 0px -90px;
}

.navigator a {
  background-color: rgb(189, 37, 70);
}
